alabaster==0.7.12
appdirs==1.4.4
arandr==0.1.10
Babel==2.9.1
beautifulsoup4==4.10.0
breezy==3.2.1
CacheControl==0.12.6
cffi==1.15.0
chardet==4.0.0
colorama==0.4.4
configobj==5.1.0.dev0
contextlib2==0.6.0.post1
cryptography==36.0.2
distlib==0.3.4
distro==1.7.0
docutils==0.16
greenlet==1.1.2
html5lib==1.1
idna==3.3
imagesize==1.3.0
Jinja2==3.0.3
MarkupSafe==2.1.1
mercurial==6.1
more-itertools==8.10.0
msgpack==1.0.3
nftables==0.1
ordered-set==4.0.2
packaging==20.9
patiencediff==0.2.2
pep517==0.12.0
ply==3.11
progress==1.6
pycairo==1.21.0
pycparser==2.21
Pygments==2.11.2
PyGObject==3.42.0
pynvim==0.4.3
pyOpenSSL==22.0.0
pyparsing==3.0.7
pytz==2022.1
ranger-fm==1.9.3
requests==2.27.1
resolvelib==0.5.5
retrying==1.3.3
rpm==4.17.0
semshi==0.1.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.1
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
team==1.0
toml==0.10.2
tomli==2.0.1
ufw==0.36.1
urllib3==1.26.9
validate==5.1.0.dev0
webencodings==0.5.1
youtube-dl==2021.12.17
